/* this is main css */

:root{
    --primary-font: -apple-system,BlinkMacSystemFont,Apple Color Emoji,SF Pro,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    --primary-color: #007AFF;
    --gradient: linear-gradient(to top, #007AFF, #007AFF10);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    font-family: var(--primary-font);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.2307692308;
}

.app{
    display: flex;
}
.sidebar{
    background-color: #EFEFF1;
    min-height: 100vh;
    min-width: 260px;
    border-right: 1px solid rgba(0,0,0,.15);
    padding-right: 25px;
    padding-left: 25px;
}
.sidebar-title{
    position: relative;
    padding-top: 19px ;
    padding-bottom: 14px;
}
.sidebar-title span{
    display: flex;
    font-size: 17px;
    line-height: 22px;
    align-items: center;
    gap: 4px;
}
.sidebar-title img{
    width: auto;
    height: 18px;
}

.sidebar-nav-item{
    position: absolute;
    background: #F5F5F7;
    width: 100%;
    margin-top: 10px;
    padding: 10px 12px;
    border-radius: 16px;
    border: 1px solid #DDDDDF;
    box-shadow: 10px 5px 15px 0 #dfdddd;
    z-index: 99;
    visibility: hidden;
}
.sidebar-nav-item.visible{
 visibility: visible;
}
.sidebar-nav-item li{
    cursor: pointer;
    list-style: none;
    margin-bottom: 4px;
    font-size: 14px;
    line-height:24px;
    padding: 4px 8px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.sidebar-nav-item li:hover{
    background: #E9E9EA70;
    border-radius: 12px;
}
.sidebar-nav-item li i{
    color: #777777;
}
.sidebar-searchbar{
    margin-top: 10px;
    padding-bottom: 10px;
}
.sidebar-searchbar form{
    display: inline;
    position: relative;
    width: 100%;
}

.sidebar-searchbar form span i{
    position: absolute;
    top: 0;
    bottom: 0;
    left:10px;
    color: var(--primary-color);
    width: 16px;
    height: 16px;
}
.sidebar-searchbar form input{
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 28px;
    padding-right: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.15);
    font-size: 12px;
    font-weight: 400;
    height: 32px;
    letter-spacing: 0;
    line-height: 1.25;
    width: 100%;
    
}
.sidebar-searchbar form input:focus-visible{
    outline: none;
    box-shadow: 0 0 0 4px  #007AFF60;
}

.sidebar-searchbar form .cancel-btn{
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: red;
    visibility: hidden;
}
.sidebar-searchbar form .cancel-btn.visible{
    visibility: visible;
}

.sidebar-searchbar form .cancel-btn i{
    cursor: pointer;
    width: 16px;
    height: 16px;    
    color: #777777;
    left: -20px;
}

.sidebar-items{
    margin-top: 5px;

}

.sidebar-items ul{
    list-style: none;
}
.sidebar-items ul li{
    cursor: pointer;
    width: 100%;
    padding: 6px 5px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 2px;
}
.sidebar-items ul li:hover{
    background: #DDDDDF;
}
.sidebar-items ul li a{
    text-decoration: none;
    color: #1B1B1B;
}
.sidebar-items ul li a i{
    color: var(--primary-color);
    margin-right: 4px;
}

.sidebar-items-header{
    margin-top: 10px;
}
.sidebar-items-header p{
    font-size: 0.85em;
    font-weight: bold;
    color: #777777;
}



.app-content{
    padding: 20px 30px;
}